html{
	height:210%;
	width:100%;
	font-family:'oswaldregular', sans-serif;
	min-height:1370px;
	min-width:1200px;
	max-height:1460px;
}
body{
	position:relative;
	width:100%;
	height:100%;
}
header{
	margin-bottom:2%;
	width:100%;
	height:12.6%;
}
#topbar{
	width:100%;
	height:24%;
	background-color:#709c3f;
	position:relative;
}
#topbar nav{
	padding-left:13.84%;
	position:relative;
	top:32.5%;
}
#topbar nav span{
	margin-right:6px;
}
nav li{
	display:inline;
	list-style-type:none;
	font-size:14px;
}
#topbar li a:hover{
	background-color:#FFF;
	border-bottom:2px solid #d9d9d9;
	color:#709c3f;
}
#topbar nav a{
	color:#FFF;
	margin-right:2%;
}
#subheader{
	width:100%;
	height:53%;
	background-color:#FFF;
	padding-top:1.3%;
}
#logo{
	font-size:40px;
	color:#709C3F;
	text-transform:uppercase;
	display:inline;
	float:left;
	margin-left:14%;
}
#login{
	height:100%;
	display:inline;
	float:right;
	margin-right:23%;
	padding-top:1.0%;
}
#login a,#login button{
	text-transform:uppercase;
	color:#709C3F;
	font-size:18px;
}
#login a:hover,#login button:hover{
	background-color:#709C3F;
	border-bottom:4px solid #0C370B;
	color:#fff;
	border-left:none;
	border-top:none;
	border-right:none;
}
#login button{
	font-family:inherit;
	background:none;
	background-color:transparent;
	border:none;
}
#cat{
	width:100%;
	height:23%;
	background-color:#f3f3f3;
}
#cat nav{
	box-sizing:border-box;
	width:35%;
	height:100%;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
}
#cat nav ul{
	box-sizing:border-box;
	width:100%;
	height:100%;
}
#cat nav ul li a{
	font-size:16px;
	color:#709C3F;
	text-transform:uppercase;
}
#cat nav ul li{
	float:left;
	margin-right:4%;
}
#cat nav ul li a:hover{
	background-color:#709C3F;
	border-bottom:2px solid #59813a;
	color:#fff;
}
#container{
	position:relative;
	box-sizing:border-box;
	padding-left:3%;
	width:100%;
	height:62.8%;
}
#shipping_details{
	display:inline-block;
	float:left;
	width:70%;
	height:95%;
	margin-right:2%;
}
#products {
	width:100%;
	max-height:70%;
	margin-bottom:2%;
	overflow:auto;
}
#shipping_details h1{
	text-align:center;
	text-decoration:underline;
	width:34%;
	background-color:#709C3F;
	color:#FFF;
	font-size:27px;
	padding:0.7%;
}
table{
	float:left;
	border:3px solid #709C3F;
	width:100%;
}
th{
	background-color:#709C3F;
	color:#FFF;
	font-size:27px;
	text-align:center;
}
td{
	padding:2% 0;
	color:#709C3F;
	text-align:center;
	width:19%;
}
tr:nth-child(even){
	background-color:#C0DAA5;
}
tr:nth-child(even) td{
	color:#FFF;
}
td img{
	width:50%;
}
#total{
	display:block;
	font-size:24px;
	text-transform:uppercase;
	width:40%;
	float:right;
	color:#709C3F;
}
#address {
	clear:left;
	float:left;
	display:inline-block;
	width:70%;
	font-size:24px;
	text-transform:uppercase;
}
fieldset{
	float:left;
}
legend{
	padding:3px;
	font-size:24px;
	color:#FFF;
	background-color:#709c3f;
}
#order button{
	background-color:#709C3F;
	color:#FFF;
	float:right;
	font-family:'oswaldregular', sans-serif;;
	font-size:18px;
	font-weight:bold;
}
#btn button{
	margin:20px;
	background-color:#709C3F;
	color:#FFF;
	float:left;
	font-family:'oswaldregular', sans-serif;;
	font-size:18px;
	font-weight:bold;
}
#btn{
	display:block;
}
#sqlerror{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	box-sizing:border-box;
	text-align:center;
	color:#709c3f;
	text-transform:uppercase;
	font-size:32px;
}
#related{
	position:absolute;
	right:2%;
	box-sizing:border-box;
	display:inline-block;
	width:25%;
	height:100%;
	overflow:auto;
	border:3px solid #709C3F;
}
#related h1{
	margin-bottom:5%;
	width:100%;
	height:5%;
	text-align:center;
	padding-top:3px;
	background-color:#709C3F;
	color:#FFF;
	font-size:30px;
	text-transform:uppercase;
}
#related ul{
	width:80%;
	height:95%;
	margin:auto;
	list-style-type:none;
}
#related li a{
	color:#709C3F;
}
#related li{
	float:left;
	width:100%;
	height:24%;
	margin-bottom:5%;
}
#related li:hover{
	background-color:#EEE;
	border:3px solid #060;
}
#related img{
	float:left;
	width:45%;
	max-height:95%;
}
footer{
	position:absolute;
	bottom:0%;
	box-sizing:border-box;
	padding-left:4%;
	padding-top:3%;
	background-color:rgba(112,156,63,0.8);
	width:100%;
	height:20%;
}
.col{
	overflow:hidden;
	display:inline-block;
	float:left;
	width:33%;
	height:100%;
	color:#030;
}
.col ul{
	list-style-type:none;
	height:70%;
}
.col h1{
	margin-bottom:5%;
	font-size:24px;
	text-transform:uppercase;
	text-decoration:underline;
}
.col li{
	margin-bottom:5%;
}
#col2 li{
	height:19%;
	margin-bottom:3%;
	}
.col a{
	color:#FFF;
	font-size:18px;
	text-transform:uppercase;
}
.col a:hover{
	color:#030;
}
#col2 a {
	height:100%;
}
#col2 img{
	height:100%;
	text-align:center;
}
#container input[type="submit"]{
	background-color:#709C3F;
	color:#FFF;
	font-family:'oswaldregular', sans-serif;;
	font-size:18px;
	font-weight:bold;
}
input[type="submit"]{
	background-color:#709C3F;
	color:#FFF;
	font-family:'oswaldregular', sans-serif;;
}
.error p{
	margin-top:2%;
	font-size:12px;
	text-transform:capitalize;
	color:#F00;
}
#emailError img{
	width:auto;
}